/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container {
  max-width: 1800px;
  width: 90%;
  margin: 40px auto 0 auto;
}

/* header */
header {
  padding: 20px 0;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* --- ბმულები --- */
a {
  color: #358585;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-family: "BPG Glaho WEB Caps", sans-serif;
}

a:hover {
  color: #226060;
}

.navbar-nav .nav-link.active, a.active {
  color: #084c4c !important;
}

/* --- მენიუ --- */
.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #358585;
}

.navbar-nav .nav-link:hover {
  color: #226060;
}

.navbar-toggler {
  border: none;
}

/* --- Dropdown --- */
.dropdown-menu {
  font-family: "BPG Glaho WEB Caps", sans-serif;
  font-weight: 600;
  border-radius: 0;
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.05);
          box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.dropdown-item {
  font-size: 15px;
  color: #358585;
  -webkit-transition: background 0.2s ease, color 0.2s ease;
  -o-transition: background 0.2s ease, color 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: #084c4c;
}

/* --- სათაური --- */
.top-title {
  font-size: 40px;
  font-weight: 700;
  color: #084c4c;
  text-align: center;
  margin-top: 36px;
  font-family: "BPG Glaho WEB Caps", sans-serif;
}

/* --- სურათის ელემენტები --- */
.flag {
  height: 30px;
  width: 42px;
  vertical-align: middle;
  margin-right: 32px;
}

.gerbi {
  height: 42px;
  width: 34px;
  vertical-align: middle;
  margin-left: 32px;
}

/* მთავარი */

.title {
  margin-top: 140px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main h1 {
  font-size: 56px;
  font-weight: 700;
  color: #084c4c;
  font-family: "BPG Glaho WEB Caps", sans-serif;  
  margin-top: 100px;
  margin-bottom: 100px;
}

.main p {
  font-size: 24px;
  color: #084c4c;
  font-weight: 500;
  line-height: 1.6;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  margin-bottom: 70px;
}

.main span{
  font-weight: 700;
}

.main h2 {
  font-size: 46px;
  font-weight: 700;
  color: #084c4c;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

/* Base card style */
.person-card {
  overflow: hidden;
  border-radius: 4%;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.1);
          box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  background-color: #fff;
  font-family: "BPG Glaho WEB Caps", sans-serif;
}

.person-card:hover {
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
}

.person-card img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4% 4% 0 0;
}

.toggle-button {
  z-index: 2;
  font-size: 12px;
  padding: 4px 8px;
  background-color: rgb(223, 220, 220);
  border: none;
  cursor: pointer;
}

.bio {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-in-out, padding 0.3s ease-in-out;
  -o-transition: max-height 0.4s ease-in-out, padding 0.3s ease-in-out;
  transition: max-height 0.4s ease-in-out, padding 0.3s ease-in-out;
  padding: 24px 16px;
}

.toggle-info:checked ~ .bio {
  max-height: 1000px;
  padding-top: 16px;
}

/* Text styling */
.bio p {
  font-size: 18px;
  color: #084c4c;
  font-weight: 550;
  line-height: 1.6;
  font-family: "BPG Glaho WEB Caps", sans-serif;
}


/* footer */

.footer{
  height: 392px;
  background-color: #358585;
  width: 100%;
  padding: 40px 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  font-family: "BPG Glaho WEB Caps", sans-serif;
  width: 200px;
  margin-right: 200px;
}

.column2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  font-family: "BPG Glaho WEB Caps", sans-serif;  
  margin-bottom: 5px;
  width: 300px;
  margin-right: 150px;
}

.logos{
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  height: 58px;
  width: 58px;
}

.tbc-logo{
  height: 52px;
  width: 50px;
}

.column-a{
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  font-family: "BPG Glaho WEB Caps", sans-serif;  
  margin-bottom: 15px;
}

.info-logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 30px;
}

.column-title{
  color: white;
  font-size: 23px;
  margin-bottom: 20px;
}